<% @article.comments.each do |comment| %>
  <% unless comment.archived? %>
    <p>
      <%= comment.body %> -
      <strong>by</strong>
      <%= comment.commenter %>
      <%= link_to "Destroy Comment", [comment.article, comment], 
      data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
    </p>
  <% end %>
<% end %>
